@import '../../sass/shared/vars';

header {
  background: #270D5B;
  box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: map-get($map: $header, $key: height);
  z-index: 100;
  .header-item{
    color: #ffffff;
  }
  #header {
    padding: 0;
    height: 100%;
    #logo {
      width: 190px;
      height: map-get($map: $header, $key: height);
      max-width: 100%;
      max-height: 100%;
      > img {
        display: block;
        max-width: 100%;
        height: 100%;
      }
    }
    nav {
      a, span {
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
          color: #FFFFFF;
        }
      }
    }

    .navigation {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      list-style: none;
      margin: 0;
      background:orange;
    }

    .navigation a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: black;
    }

    .navigation a:hover {
      background: white;
    }


  }
}



.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
