
.skill-endorse{
  padding:10px;
}
.remove-skill{
  padding:10px;
}
.skill-item {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  border-radius: 4px;
  margin: 18px 20px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  .skill-name {
    line-height: 1;
    display: inline-block;
    margin: 15px 10px 15px 3px
  }
  .skill-rating {
    display: inline-block;
    background: #c8eef3;
    text-align: center;
    color: #006064;
    height: 25px;
    min-width: 25px;
    padding: 7px 5px 5px;
    margin: 0;
    font-size: 14px;
    border-radius: 3px;
    position: relative;

    .remove-skill,
    .skill-endorse {
      border-radius: 0.5em;
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      line-height: 1;
      font-size: 20px;
      z-index: 2;
      background: #f9f9f9;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      padding-top: 5px;
      transition: all 0.2s ease;
    }
  }

    .skill-endorse {
      opacity: 1;
      background: #7344D2;
      color: #ffffff;
      border-radius: 0.5em;
      margin: 5px;
    }
    .remove-skill {

      opacity: 1;
      background: #270D5B;
      color: #ffffff;
      border-radius: 0.5em;
    }

  &.endorsed {
    cursor: default;
    .skill-rating {
      background: #00b800;
      color: #ffffff;
      .skill-endorse {
        display: none;
      }
    }
  }
}
